* {
    font-family: 'Raleway', sans-serif;
}

body {
    display:block;
    margin: 0;
}

.background-container {
    margin-top: 50px;
    height: 100%;
    min-height: 800px;
    background-attachment: fixed;
    background-image: url("https://i.imgur.com/KshM5s9.jpg");
    background-repeat: no-repeat;
}

.content {
    position: relative;
    min-height: 840px;
    width: 75%;
    align-self: center;
    margin-left: 40px;
    background: white;
    /* opacity: .7; */
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    margin-top: 0;
    height: 50px;
    padding: 5px;
    border-bottom: 5px solid rgb(138,96,207,1);
    color: black;
}

.navbar-fixed {
    padding-bottom: 15px;
}

.nav_list {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
}

li {
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    color:black;
   
}

.nav {
    background-color:white;
    text-decoration: none;
    color:black;
}

.affirmation{
    justify-content: center;
    display: flex;
    color:rgb(138,96,207,1);
}

.login{
    justify-content: center;
    display: flex;
    color:rgb(138,96,207,1);
}

.signup{
    justify-content: center;
    display: flex;
    color:rgb(138,96,207,1);
}
.team{
    justify-content: center;
    display: flex;
    color:rgb(138,96,207,1);
}

img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    padding: 2px 40px;
    
}

.prod-index-page {
    display: grid;
    align-items: center;
}

.prod-index-div {
    display: block;
    align-content:center;
    height: 200px;
    width: 800px;
    flex-direction: column;
    padding: 5px;
    /* border-style: solid;
    border-color: lightgrey; */
    margin: 5px;
    margin-left: 70px;
}
.prod-index-head{
    justify-content: center;
    display: flex;
    color:rgb(138,96,207,1);
}

.prod-price-show {
    color: slateblue;
}

.img-spotlight {
    max-height: 600px;
    width: 500px;
}

a {
    text-decoration: none;
}

.add_cart{
    color: magenta;
}

.product_view{
    color:orchid;
}
.home_selene{
    color:rgb1(70,126,185,1);
}
.product_name{
    justify-content: center;
    display: flex;
    color:rgb(138,96,207,1);
}
/* h2 {
    justify-content: center;
    display: flex;
    color:rgb(138,96,207,1);

} */

.main-mood-div {
    margin: 0 180px 0 180px;
    display: flex;
    justify-content: space-around;
    
}

.ind-mood-div {
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 200px;
    border: 2px solid purple;
}

.cart-prod {
    /* border-style: solid;
    border-color: lightgrey; */
    margin: 5px;
    height: 270px;
    width: 600px;
    font-size:larger;
}
.button {
    border-style: solid;
    border-radius: 9px;
    border-color: lightgrey;
    background-color: lightgrey;
    padding: 5px 15px;
}

.checkout {
    margin: 0 500px;
}
/* .cart{
    justify-content: center;
    display: flex;
    color:rgb(138,96,207,1);
} */

footer {
    background-color: white;
    height: 3%;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    color: black;

  }