{% extends 'base.html' %}
{% block content %}
<h2 class="marquee"><span class="affirmation"> I give myself permission to do what is right for me. </span></h2>
<h1 class="team-head">The Selenê Team</h1>


<div class="team">
    <div class="bio">
        <div class="bio-name">
            <h3 class="about-h3">Jessica</h3>
        </div>
        <div class="bio-img-div">
            <img class="bio-img" src=https://i.imgur.com/ppcEads.jpg />
        </div>
        <div class="bio-about">
            <p class="bio-text">Jessica is an educator turned full-stack developer who maintains a strong passion for teaching and creating equitable opportunities for learning. </br>She values developing ed tech tools that augment and transform the learning experience.
            </p>
        </div>

    </div>
    <div class="bio">
        <div class="bio-name">
            <h3 class="about-h3">Mocha</h3>
        </div>
        <div class="bio-img-div">
            <img class="bio-img" src="https://i.imgur.com/LaSlCbj.jpg" />
        </div>
        <div class="bio-about">
            <p class="bio-text">Mocha is a full-stack web developer from Detroit, Michigan. <br/>Selene is both her first full Django project,  and first e-commerce app. As both a coder and a skin care fanatic, being a part of the Selene developer team feels exciting and like the right place to be.
            </p>
        </div>
        
    </div>
    <div class="bio">
        <div class="bio-name">
            <h3 class="about-h3">Sophia</h3>
        </div>
        <div class="bio-img-div">
            <img class="bio-img" src="https://i.imgur.com/d1DZDZT.jpg" />
        </div>
        <div class="bio-about">
            <p class="bio-text">Sophia is a front-end engineer with strength in React, CSS, and JavaScript. <br/> She contributes a unique perspective due to her capacity to easily access creativity and logic.<br/> She feels comfortable with her innate ability of being both big vision and detail oriented.<br/> She brings passion, lateral thinking and a knack for creation to the table.
            </p>
        </div>
    </div>
</div>


{% endblock %}