{% load static %}
{% load cart_tag %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static '../static/polls/style.css' %}">
  

  <title>Selene</title>


</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <ul class="nav_list">
          <div class="home_selene"><b><em>Selenê</em></b></div>
          <li class="home"><a href="{% url 'index'%}">Home</a></li>
          
          {% if user.is_authenticated %}
          <div class="dropdown">
          <button class="dropbtn">Products
                  <i class="fa fa-caret-down"></i>
                </button>
            <div class="dropdown-content">
              <li><a class="nav" href="{% url 'products_index' %}">All Products</a></li>
              <li><a class="nav" href="{% url 'spotlight' %}">Spotlight</a></li>
              <li><a class="nav" href="{% url 'mood' %}">By Mood</a></li>
              <li><a class="nav" href="{% url 'ourpicks' %}">Our Picks</a></li>
            </div>
        </div>
        
          <!-- <li><a class="nav" href="{% url 'products_index' %}">View All Products</a></li> -->
          <li><a class="nav" href="{% url 'about' %}">Meet the Team</a></li>
          <li><a class="nav" href="{% url 'cart' %}">View Cart ({{ request.session.cart|length }})</a></li>
          <li><a class="nav" href="{% url 'logout' %}">Log out</a></li>


          {% else %}
          <div class="dropdown">
            <button class="dropbtn">Products
                    <i class="fa fa-caret-down"></i>
                  </button>
              <div class="dropdown-content">
                <li><a class="nav" href="{% url 'products_index' %}">All Products</a></li>
                <li><a class="nav" href="{% url 'spotlight' %}">Spotlight</a></li>
                <li><a class="nav" href="{% url 'mood' %}">By Mood</a></li>
                <li><a class="nav" href="{% url 'ourpicks' %}">Our Picks</a></li>
              </div>
          </div>
          <li><a class="nav" href="{% url 'about' %}">Meet the Team</a></li>
          <li><a class="nav" href="{% url 'login' %}">Log in</a></li>
          <li><a class="nav" href="{% url 'sign_up' %}">Sign up</a></li>
          
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <div class="background-container">
    <div class="content">
      
      {% block content%}
      {% endblock %}
    </div>
  </div>
  <footer>
    <div class="right">All Rights Reserved, &copy; 2021 Selenê &nbsp;</div>
  </footer>
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
    </script>
</body>

</html