{% extends 'base.html' %}



{% block content %}
<h2 class="marquee">
  <span class="affirmation"> I acknowledge my own self-worth; my confidence is soaring.</span>
</h2>
<h1 class="prod-index-head">Our Picks</h1>
<ul class="prod-index-ul">
    
  
    {% for pick in product %}
      <li class="prod-index-li">
        <div class="prod-container">
          <div class="img">
            <img class="prod-index-img" src="{{ pick.imgurl }}"/>
          </div>
         <div class="middle">
           <div class="prod-description"> 
             {{ pick }}
           </div>
          </div>
        </div>
         <a class="product_view" href="/products/{{pick.id}}">
        <p class="product_text">{{ pick.name }}</p></a>
        <p class="product_text">${{ pick.price}}0</p>
        <p class="add_button"><a class="add_button_text" href="{% url 'cart_add' pick.id %}">ADD</a></p>  
     
        </li>
        
        
        {% endfor %}
        
</ul>

{% endblock %}