{% extends 'base.html' %}

{% block content %}
{% load static %}
{% static "" as baseurl %}

{% load cart_tag %}

Items in Cart: {{request.session.cart|length}}

<h3>Cart Details:</h3>
<div class="cart_container">
    
    {% for key,value in request.session.cart.items %}
    <div class="cart-prod">
        <p>{{value.name}}</p>
        <img class="cart-image" src="{{baseurl}}{{value.image}}"/>
        <p>Price: {{value.price}}</p>
        <p>Quantity: {{value.quantity}}</p> 
        <p> <a class="button" href="{% url 'item_decrement' value.product_id %}">-</a> <a  class="button" href="{% url 'item_increment' value.product_id %}">+</a>   </p>
        <p>Product total: {{ value.price|multiply:value.quantity }}</p>
        
    </div>
    {% endfor %}
    <p><a href="{% url 'cart_clear' %}">Clear Cart</a></p>
    <button class="checkout">Checkout</button>
</div>

{% endblock %}