{% extends 'base.html' %}



{% block content %}
<h1>Calm</h1>
  <p>{{ products.category }}</p>
    <!-- {% for products in products %} -->
        <!-- {% for category in categories %} -->
            <!-- {% if category == "calm" %} -->
       
            <!-- <a href="/products/{{products.category}}">
            <p>Name: {{ products.name }}</p>
            <p>Description: {{ products.description }}</p>
            <p>Price: {{ products.price }}</p>
            <img src="{{ products.imgurl }}"/>
        
             </a>
        <hr/>
             -->
            <!-- {% endif %} -->
        <!-- {% endfor %} -->
    <!-- {% endfor %} -->


{% endblock %}