
    <h1>Calm</h1>
    {% extends 'base.html' %}

 

{% block content %}
    <h1>Products</h1>
  
    {% for product in products %}
        {% if product.fields.category == "calm" %}
        <!-- trying to get this logic to work still -->
            <a href="/products/{{product.category}}">
            <p>Name: {{ product.name }}</p>
            <p>Description: {{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
            <img src="{{ product.imgurl }}"/>
        
             </a>
        <hr/>
        {% endif %}
    {% endfor %}


{% endblock %}