{% extends 'base.html' %}



{% block content %}
<h2 class="marquee">
  <span class="affirmation"> I acknowledge my own self-worth; my confidence is soaring.</span>
</h2>
<h1 class="prod-index-head">Products</h1>
<ul class="prod-index-ul">
    
  
    {% for product in products %}
      <li class="prod-index-li">
        <div class="prod-container">
          <div class="img">
            <img class="prod-index-img" src="{{ product.imgurl }}"/>
          </div>
         <div class="middle">
           <div class="prod-description"> 
             {{ product.description }}
           </div>
          </div>
        </div>
         <a class="product_view" href="/products/{{product.id}}">
        <div class="product_text">{{ product.name }}</div>></a>
        <div class="product_text">${{ product.price}}0</div>>
        <div class="add_button"><a class="add_button_text" href="{% url 'cart_add' product.id %}">ADD</a></div>>     
      </li>
        
        
        {% endfor %}
        
</ul>

{% endblock %}
