{% extends 'base.html' %}

 

{% block content %}
<h3 class="affirmation">Affirmation: I acknowledge my own self-worth; my confidence is soaring.</h3>
<h1 class="prod-index-head">Products</h1>
<main class="prod-index-page">
    
  
    {% for product in products %}
      <div class="prod-index-div">
        <img class="prod-index-img" src="{{ product.imgurl }}"/>
         <a class="product_view" href="/products/{{product.id}}">
        <p>{{ product.name }}</p></a>
        <p>{{ product.description }}</p>
        <p>${{ product.price }}</p>
        <a class="add_cart" href="/cart">Add item to your cart</a>
        
        
      
        <hr/>
      </div>
</main>
  
   
    {% endfor %}


{% endblock %}
