{% extends 'base.html' %}



{% block content %}
<h2 class="marquee"><span class="affirmation"> I am always headed in the right direction.</span></h2>
    <h1>{{ product.category }}</h1>

   {% for product in category %}
        
        <div class="prod-moodshow-div">
            <img class="prod-mood-img" src="{{ product.imgurl }}"/>
            <a href="/products/{{product.id}}">
            <h4 class="">{{ product.name }}</h4></a>
            <p>{{ product.description }}</p>
            <p>${{ product.price }}</p>



            <hr/>
        </div>
    

    {% endfor %} 

{% endblock %}