{% extends 'base.html' %}



{% block content %}
<h2 class="marquee"><span class="affirmation"> I am at peace with all that has happened, is happening, and will
        happen.</span></h2>
<h1 class="mood-h2">Products by Mood</h1>
<ul class="main-mood-div">

    {% for mood in products %}
    <a href="/products/mood/{{ mood.category }}">
        <li class="ind-mood-div">

            <p class="mood-p">{{ mood.category }}</p>
            <img class="catimg" src="{{ mood.img }}"/>

        </li>
    </a>
    {% endfor %}

</ul>


{% endblock %}