{% extends 'base.html' %}
{% block content %}
<h3 class="affirmation">Affirmation: I radiate beauty, charm, and grace. </h3>
<h1 class="product_name">{{ product.name }}</h1>


<p class="prod-descrip-show"> about {{ product.name }} <br /> {{ product.description }}</p>
<div class="prod-img-box-show">
    <img src='{{ product.imgurl }}'/>
    <p class="prod-price-show">${{ product.price }}</p>  
    <p class="prod-rating-show">rating: {{ product.rating }}</p>    
    <p class="prod-mood-show">mood: <a href="/products/mood/{{ product.category }}">{{ product.category }}</a></p>  
    <p><a href="{% url 'cart_add' product.id %}">Add To Cart</a></p>  
    <p><a href="{% url 'item_increment' product.id %}">+</a></p>
    <p><a href="{% url 'item_decrement' product.id %}">-</a></p>
    <p><a href="{% url 'cart_clear' %}">Clear Cart</a></p>
</div>
<hr/>
{% endblock %}