{% extends 'base.html' %}
{% block content %}
<h1>{{ product.name }}</h1>


<p class="prod-descrip-show">Description <br /> {{ product.description }}</p>
<div class="prod-img-box-show">
    <img src='{{ product.imgurl }}'/>
    <p class="prod-price-show">${{ product.price }}</p>
    <p class="prod-rating-show">Rating: {{ product.rating }}</p>    
    <p class="prod-mood-show">Category:<a href="/products/mood/{{ product.category }}">{{ product.category }}</a></p>  
    <p><a href="{% url 'cart_add' product.id %}">Add To Cart</a></p>  
</div>
<hr/>
{% endblock %}