{% extends 'base.html' %}

{% block content %}
<div class="spotlight-container">
    <h2 class="spotlight-h2">spotlight products</h2>
    

    <div class="div-spotlight">
        {% for product in products %}
            {% if product.rating == 5 %}
            <div class="ind-prod-spotlight">
                <div class="vid-container-spot">
                    <video class="vid-spotlight" width="375px" height="650px" object-fit="cover" loop onmouseover="this.play()" onmouseout="this.pause()">
                        <source
                            src="{{ product.vidurl }}"
                            type="video/mp4">
                    </video>
                </div>
                <a href="/products/{{product.id}}">
                    <p class="">{{ product.name }}</p>
                </a>
                    <p class="spotlight-prod-descrip">{{ product.description }}</p>
            </div>


            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}