{% extends 'base.html' %}

{% block content %}
<div class="spotlight-container">
    <h2 class="spotlight-h2">spotlight products</h2>
    

    <div class="div-spotlight">
        {% for product in products %}
            {% if product.rating == 5 %}
            <div class="ind-prod-spotlight">
                <div class="img-conatiner-spot"><img class="img-spotlight" src="{{ product.imgurl }}"></div>
                <a href="/products/{{product.id}}">
                    <p class="p-spotlight">{{ product.name }}</p>
                </a>
            </div>


            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}